/* footer and colour*/

style.css
body{
	background: #3c415e;
	color: green;
	font-family: 'Krub', sans-serif;

}

h1{
	font-family: 'PT Serif', serif;
	font-size: 50px;
    color: black;
}

h2{
	font-size: 18px;
}
a{
	text-decoration: none;
	color:  white;
}

a:hover{
	text-decoration: none;
	color: red;
}

#banner{
  text-align: center;
  background-image: url("https://unsplash.it/1300/600?random");
  background-size: cover;
  padding: 150px;
  color: black;
  text-shadow: 1px 1px 5px black;
}
#banner h1 {
  color: lightgrey;
  font-size: 50px;
}
#banner p {
  color: red;
  opacity: 0.9;
  font-size: 30px;
  font-weight: deeper;
}
#Follow{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: white;
  font-size: 30px;
  text-align: center;
}
.Section{
  padding: 50px;
  font-weight: lighter;
  text-align: center;



}


#myface {
	border-radius: 60%
}